---
import Button from "./ui/Button.astro";
import Input from "./ui/Input.astro";
import DraftingCompass from "@assets/svg/drafting-compass.svg";
import Paintbrush from "@assets/svg/paintbrush.svg";

export interface Props {
  type: "test" | "calc";
  idPrefix?: string;
}
const { type, idPrefix = "" } = Astro.props;

const title = type === "test" ? "Заказать выкрас" : "Заказать расчет";
const formId = `${idPrefix}${type === "test" ? "testForm" : "calcForm"}`;
const consentId = `${formId}-consent`;
---

<div
  class="h-full group bg-linear-to-br from-nav/10 to-nav/20 
         rounded-[25px] reveal text-card-foreground flex 
         flex-col bg-background shadow-xl/2 hover:shadow-xl/6"
>
  <span class="absolute hidden xs:block top-6 right-6 saturate-0 opacity-30 transition-all duration-300 group-hover:saturate-100 group-hover:opacity-100">
    {
      type == "calc" ? 
      <DraftingCompass/> :
      <Paintbrush/>
    }
  </span>

  <div class="flex space-y-1.5 p-6 mt-2 items-center mx-auto relative">
    <h3 class="text-3xl font-inter text-center font-bold text-gradient tracking-tighter">
      {title}
    </h3>
  </div>

  <div class="p-2 sm:p-6 pt-0 space-y-6 grow flex flex-col">
    <form
      id={formId}
      class="contact-form space-y-6 flex flex-col h-full"
      data-form-type={type}
      novalidate
    >
      <div class="grid grid-cols-1 gap-4 grow">
        {/* Имя */}
        <div>
          <Input
            label="Имя:"
            type="text"
            name="name"
            autocomplete="given-name"
            placeholder="Ваше имя"
            required
          />
          <p class="error-msg nameError mt-1 text-sm text-red-600 hidden"></p>
        </div>

        {/* Телефон */}
        <div>
          <Input
            label="Телефон:"
            type="tel"
            name="phone"
            autocomplete="tel"
            placeholder="+7 (XXX) XXX-XX-XX"
            required
          />
          <p class="error-msg phoneError mt-1 text-sm text-red-600 hidden"></p>
        </div>

        {
          type === "test" && (
            <>
              <div>
                <Input
                  label="Артикул(ы) масла:"
                  type="text"
                  name="articles"
                  placeholder="Например: 3101, 3111"
                  required
                />
                <p class="error-msg oilArticleError mt-1 text-sm text-red-600 hidden"></p>
              </div>

              <div>
                <Input
                  label="Сорт дерева:"
                  type="text"
                  name="wood_sort"
                  placeholder="Например: Лиственница"
                  required
                />
                <p class="error-msg wood_sortError mt-1 text-sm text-red-600 hidden"></p>
              </div>
            </>
          )
        }

        {
          type === "calc" && (
            <>
              <div>
                <Input
                  label="Площадь обработки (м²):"
                  type="text"
                  name="area"
                  placeholder="Например: 50"
                  required
                />
                <p class="error-msg treatmentAreaError mt-1 text-sm text-red-600 hidden"></p>
              </div>

              <div>
                <Input
                  label="Артикул масла (необязательно):"
                  type="text"
                  name="article"
                  placeholder="Например: 3101"
                />
                <p class="error-msg oilArticleError mt-1 text-sm text-red-600 hidden"></p>
              </div>
            </>
          )
        }
      </div>

      {/* Согласие */}
      <div class="mt-auto pt-6">
        <div class="flex items-center space-x-3">
          <Input
            id={consentId}
            type="checkbox"
            name="consent"
            required
          />

          <label
            for={consentId}
            class="text-xs xs:text-sm text-foreground/90 leading-relaxed cursor-pointer"
          >
            Отправляя заявку, вы подтверждаете что ознакомлены 
            <a
              rel="noopener noreferrer"
              target="_blank"
              class="hover:underline text-text-gradient-top"
              href="/privacy-policy"
              data-stop-prop
            >
              с политикой конфиденциальности
            </a>{" "}
            и даёте{" "}
            <a
              rel="noopener noreferrer"
              target="_blank"
              class="text-text-gradient-top hover:underline"
              href="/user-agreement"
              data-stop-prop
            >
              согласие на обработку персональных данных
            </a>{" "}
            согласно Федерального закона "О персональных данных" от 27.07.2006 N
            152-ФЗ
          </label>
        </div>

        <p class="error-msg consentError mt-1 text-sm text-red-600 ml-6 hidden"></p>

        {/* Кнопка */}
        <div class="mt-6 flex justify-center w-full">
          <Button type="submit" variant="form">
            <span class="uppercase font-bold text-html tracking-tighter">
              Отправить заявку
            </span>
          </Button>
        </div>

        {/* Сообщение */}
        <div class="form-message hidden"></div>
      </div>
    </form>
  </div>
</div>

<script>
  import "../scripts/contactsForm/index.js";
</script>