---
import Svg from "../svg/Svg.astro"
import Arrow from "../svg/arrow.astro";

interface Props {
  variant?: "default" | "catalog" | "404"
  href: string;
  title: string;
}
const { 
  href, 
  title,
  variant = "default"
} = Astro.props;

const variants = {
  default: "",
  "404": "max-w-105",
  catalog: "lg:max-w-105",
}

const base = `flex gap-4 font-inter justify-center items-center text-[20px] uppercase
              w-full font-bold border border-dashed rounded-[20px] h-12.5 border-border
              hover:border-line hover:border-solid transition-all duration-300`;
const classes = `${base} ${variants[variant]}`;
---
<a 
  href={href}
  class={classes}
>
  <span class="text-gradient tracking-tighter">{title}</span>
  <Svg viewBox="arrow" size="m">
    <Arrow/>
  </Svg>
</a>