---
import Svg from "../svg/Svg.astro";
import Arrow from "../svg/arrow.astro";

interface Props {
  id?: string;
  ariaLabel?: string;
  variant?: "default" | "catalog" | "404" | "form";
  href?: string;
  title?: string;
  type?: "button" | "submit" | "reset";
}
const { id, href, ariaLabel, title, type, variant = "default" } = Astro.props;

const variants = {
  default: `border border-nav/20 hover:bg-nav/10 hover:border-nav/70 reveal h-12.5 uppercase`,
  form: "bg-btn/80 hover:bg-btn border border-transparent hover:border-nav/70 h-12.5 uppercase form-message",
  "404": "max-w-105 border border-nav/20 hover:bg-nav/10 hover:border-nav/70 h-12.5 uppercase",
  catalog: "lg:max-w-105 border rounded-[20px] border-nav/20 hover:bg-nav/10 hover:border-nav/70 reveal h-12.5 uppercase",
};

const base = `flex gap-4 font-inter justify-center  items-center 
              text-[20px] w-full font-bold rounded-[20px]
              transition-colors duration-300 active:scale-98 cursor-pointer`;
const classes = `${base} ${variants[variant]}`;
---

{
  href ? (
    <a href={href} class={classes}>
      <span class="text-gradient tracking-tighter">{title}</span>
      <Svg viewBox="arrow" size="m">
        <Arrow />
      </Svg>
    </a>
  ) : (
    <button 
      id={id}
      type={type}
      class={classes}
      aria-label={ariaLabel}
    > 
      <slot />
    </button>
  )
}
