---
import Button from "@components/ui/Button.astro"
import plankenPL from "@assets/materials/planken-pryamoj-listvennicza-732-198.png"
import plankenKL from "@assets/materials/planken-kosoy-listvennicza-720-226.png"
import palubnayaL from "@assets/materials/palubnaya-doska-listvennicza-702-232.png"
import brusL from "@assets/materials/imitacziya-brusa-listvennicza-823-210.png"
import shtilS from "@assets/materials/vagonka-shtil-sosna-667-222.png"
import terrasnayaT from "@assets/materials/terrasnaya-doska-termoyasen-722-186.png"
import decor from "@assets/materials/decorativnie-izdeliya-1335-835.png"
import MaterialCardSmall from "@components/ui/MaterialCardSmall.astro"

import H2 from "./H2.astro"

const row_1 = [
    { 
    href: "/catalog?type=planken-straight", 
    img: plankenPL, 
    title: "Планкен прямой"
  },
  { 
    href: "/catalog?type=planken-angled", 
    img: plankenKL, 
    title: "Планкен скошенный"
  },
  { 
    href: "/catalog?type=deck-board", 
    img: palubnayaL, 
    title: "Палубная доска"
  },
]
const row_2 = [
  { 
    href: "/catalog?type=terrace-board", 
    img: terrasnayaT, 
    title: "Террасная доска"
  },
  { 
    href: "/catalog?type=lining-shtil", 
    img: shtilS, 
    title: "Вагонка штиль"
  },
  { 
    href: "/catalog?type=timber-imitation", 
    img: brusL, 
    title: "Имитация бруса"
  },
]
---
<section 
  aria-labelledby="catalog-heading"
  class="flex flex-col gap-6 md:gap-10 lg:gap-14 justify-between items-center max-w-7xl w-full"
>
  <H2 title="Каталог"/>
  <div role="list" class="flex flex-col gap-2 w-full">
    <div class="flex flex-col gap-2 sm:flex-row lg:flex-col">
      <div class="flex flex-col gap-2 lg:flex-row w-full">
        {row_1.map(({ href, img, title }) => (
          <MaterialCardSmall
            route={href}
            img={img}
            title={title}
          />
        ))}
      </div>
      <div class="flex flex-col gap-2 lg:flex-row w-full">
        {row_2.map(({ href, img, title }) => (
          <MaterialCardSmall
            route={href}
            img={img}
            title={title}
          />
        ))}
      </div>
    </div>
    <div class="flex flex-col gap-2 sm:flex-row justify-center">
      <MaterialCardSmall
        variant="decor"
        route="/catalog?type=decorative"
        img={decor}
        title="Декоративные изделия"
      />
      <Button href="/catalog" title="перейти в каталог" variant="catalog"/>
    </div>
  </div>
</section>