---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'input'> {
  label?: string;
  error?: string;
}

const {
  type, name, placeholder, required, label, autocomplete,
} = Astro.props

const base = `bg-html text-foreground 
              placeholder:text-foreground/50 focus:outline-none 
              transition-all duration-300`
const inputStyles = `
  ${type == "checkbox" && "custom-checkbox checked:bg-emerald-500 border border-html group-hover:border-nav/50 focus:border-nav/50 appearance-none h-8 w-8 shrink-0 relative rounded-lg mt-1"}
  ${type != "checkbox" && "w-full px-4 py-2 border border-html group-hover:border-nav/50 focus:border-nav/50 rounded-2xl"}
`
const labelStyles = `block text-md font-semibold text-foreground mb-2`
const classes = `${base} ${inputStyles}`
---
{
  label &&
  <label class={labelStyles}>
    {label}
  </label>
}
<input
  type={type}
  autocomplete={autocomplete}
  name={name}
  placeholder={placeholder}
  required={required ?? undefined}
  class={classes}
/>