---
import {
  type CollectionEntry,
} from "astro:content";
import { Image } from "astro:assets";

interface Props {
  oil: CollectionEntry<"oils">;
}

const { oil } = Astro.props;

---
<a href={`/oils/${oil.id}`}>
  <article
    class="flex flex-col gap-4 duration-300 translate-all
           border border-nav/20 hover:border-nav/70 rounded-[17px]
           reveal p-2 group h-full"
  >
    <h3
      class="text-lg font-semibold items-center tracking-tighter 
                leading-5 flex flex-col p-2"
    >
      {oil.data.title}
      <span class="font-normal text-foreground/50 text-sm">
        {oil.data.titleRu}
      </span>
    </h3>
    <Image
      src={oil.data.coverImage}
      alt={oil.data.title}
      class="w-46 h-46 object-cover rounded-xl mx-auto"
    />
    <div class="flex h-full flex-col justify-between">
      <p class="text-foreground/50 p-2 group-hover:text-foreground/70 
                transition-all duration-300 line-clamp-3 overflow-y-hidden text-ellipsis">
        {oil.data.excerpt}
      </p>
      <div class="bg-nav/20 rounded-2xl overflow-y-hidden scroll-hidden overflow-x-auto">
        <div class="m-1 p-1 overflow-y-hidden scroll-hidden">
          <ul class="items-center relative flex gap-2 overflow-y-hidden scroll-hidden overflow-x-auto
                     active:scale-105 transition-all duration-400">
            {oil.data.colors.map((color) => (
              <li class="w-12 h-12 rounded-xl relative shrink-0 ">
                <Image
                  src={color.image}
                  alt={`${color.name} (${color.code})`}
                  class="w-full h-full object-cover rounded-xl"
                />
                <span class="opacity-0 absolute inset-0 group-hover:opacity-100 flex items-center 
                              justify-center text-md font-inter font-bold text-white
                              transition-all duration-300 bg-nav/50 rounded-xl">
                  {color.code}
                </span>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </div>
  </article>
</a>